.users-page {
  max-width: 900px;
  padding: 32px;
  margin: auto;
}

.welcome-header {
  display: flex;  
  align-items: baseline;
  gap: 16px;
}

.welcome-header h2 {
  transform: translateY(-8px);
} 

.btn-logout {
  padding: 0px 0px 20px;
  border: none;
  background: transparent;

}

.users-page-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
}
.users-page-header > h1 {
  transform: translateY(10px);
}

.user-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(280px, 1fr));
  margin-top: 48px;
  gap: 1rem;
}

.btn-add {
  width: 95px !important;
  display: flex;
  gap: 8px;
}

.btn-add > p {
  transform: translateY(2px);
}